<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lpoezy.nexpa"
    android:largeHeap="true"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".configuration.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PeopleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.TabHostActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"

            />
        <activity android:name=".activities.SearchActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activities.ChatActivity"
            android:parentActivityName=".activities.TabHostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TabHostActivity" />
        </activity>
        <activity android:name=".activities.CreateAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.PeopleProfileActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SearchPostActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GroupChatHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.GroupChatMainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.UserProfileActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.MainSignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.GroupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.AroundMeActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".activities.ChatHistoryActivity"
            android:label="@string/title_activity_chat_history"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".activities.OthersBroadcastActivity"
            android:parentActivityName=".activities.GroupChatHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GroupChatHomeActivity" />
        </activity>
        <activity android:name=".activities.BuddyRequestActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.CommentsActivity"
            android:label="@string/title_activity_comments"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".chatservice.ChatMessagesService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".chatservice.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>



        <service android:name=".chatservice.SyncDataService" />
        <service android:name=".chatservice.SyncUserProfileService" />
        <service android:name=".chatservice.SyncProfilePictureService" />



        <service
            android:name=".chatservice.XMPPService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".chatservice.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".chatservice.MyInstanceIdListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.codepath.gcmquickstart" />
            </intent-filter>
        </receiver>



    </application>

</manifest>
